body{
background-color: beige;

}

body > div{
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-top: 30px;
 border: 1px solid;
 padding-bottom: 20px;
}
#git_img{
    width: 28px;
    height: 28px;
}
#lik_img{
    width: 28px;
    height: 28px;
}
header{
    width:700px;
    padding-left: 20px;
    margin-right:25px ;
    background-color: rgb(198, 163, 117);
    border-radius: 3%;
}
.content{
    padding: 20px;
    background-color: blanchedalmond;
    margin-right: 20px;
    border-radius: 3%;

}

#profile{
    width:150px;
    border-radius: 50%;
}
