* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background: linear-gradient(to right, #c95, #f7ead3, #c95);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

header,
#profile_img,
#img4back {
    display: flex;
    flex-direction: column;
    align-self: center;
}

header {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    font-size: 5em;
    color: rgb(0, 0, 72);
    margin-bottom: 0;

}

h2 {
    text-align: center;
    font-size: 2em;

}

#profile_img {
    width: 90%;
    height: 350px;
    margin-top: 20px;

}


#img4back {
    width: 100%;
    height: 100%;
    border-radius: 10px;


}

#imgOfront {
    position: absolute;
    top: 5%;
    left: 42%;
    width: 200px;
    border-radius: 50%;

}

#imgOfront:hover {
    transform: rotate(3deg);
}

p {
    font-weight: 400;
    font-size: 1.8rem;
    padding: 10px 50px;
    text-align: center;
}

hr {
    box-sizing: content-box;
    color: gray;
    width: 10%;
    border-top-style: dotted;
    border-top-width: 1.5rem;

}

#portf_parts {
    width: fit-content;
    padding-left: 30px;
}

.ports {
   
    width: fit-content+ 30px;
    height: fit-content;
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0 25% 20px 25%;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(100 100 100 0.8);
}

#tic_img_sam {
    width: 400px;
    margin-left: 10%;
    margin-top: 20px;
    height: 500px;
    border-radius: 5px;
}

li {
    align-self: center;
    font-weight: 400;
    font-size: 1.8rem;

    margin-left: 100px;
}

a {
    align-self: center;
    font-weight: 400;
    font-size: 1.8rem;
}

div {
    width: 90%;
    margin-left: 5%;
}

footer {
    background-color: black;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    padding: 5px 5px 5px 15px;
    margin-top: 30px;
    font-size: x-large;
}

.tic_link:hover {
    font-size: 40px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    background-color: #c95;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}
